.table-view{
    -fx-padding: 0;
    -fx-border-radius: 8px;
    -fx-border-color: linear-gradient(to bottom right, #188ba7, #306090);
}
.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom right, #188ba7, #306090);
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 8px 8px 0 0 ;
}
.table-view .column-header, .filter{
    -fx-size: 40px;
    -fx-background-color: transparent;
}
.table-view .column-header .label{
    -fx-font-family: Arial;
    -fx-text-fill: #fff;
}
Button {
    -fx-background-color: linear-gradient(to bottom right, #188ba7, #306090); /* Màu nền cho nút đăng xuất */
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 5px 20px;
    -fx-border-radius: 5px;
    -fx-cursor: hand;
}
.navbar-button {
    -fx-background-color: transparent; /* Xóa màu nền */
    -fx-text-fill: #333333; /* Màu chữ đen */
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-border-color: transparent; /* Xóa viền */
    -fx-padding: 10px 15px;
    -fx-background-radius: 5px; /* Bo góc nhẹ cho nút */
    -fx-cursor: hand; /* Con trỏ chuột thành dạng tay */
    -fx-transition: background-color 0.3s, color 0.3s; /* Thêm hiệu ứng chuyển động khi hover */
    -fx-min-width: 150px; /* Đảm bảo nút có đủ rộng để chứa chữ */
    -fx-max-width: 200px; /* Đảm bảo không bị co lại khi kích thước nhỏ */
    -fx-text-alignment: CENTER; /* Căn giữa chữ trong nút */
}
